ul#lists {
    margin-bottom: 0px;
}

#hackToScrollToBottomList {
    display: block;
    width: 1px;
    height: 1px;
    margin-top: 0px;
    padding-top: 0px;  
}

#hackToScrollToBottomList input {
    width: 1px;
    height: 1px;
}

ul#tags {
    margin-bottom: 0px;
}


#hackToScrollToBottomTag {
    display: block;
    width: 1px;
    height: 1px;
    margin-top: 0px;
    padding-top: 0px;    
}

#hackToScrollToBottomTag input {
    width: 1px;
    height: 1px;
    border: 1px solid #E8ECFF !important;
}

ul#lists li, ul#tags li {
    padding: 7px 10px;
    background: url("/app/desktop/img/sidebar-item-bg.png") repeat-x scroll 0 0 #f3f4f6;
    font-size: 90%;
    padding-right: 43px;
    position: relative;
}

ul#lists li.hover, ul#tags li.hover {
    cursor: pointer;
    background: url("/app/desktop/img/sidebar-item-hover-bg.png") repeat-x scroll 0 0 #fbfcfd;
}

ul#lists li.selected, ul#tags li.selected {
   background: url("/app/desktop/img/sidebar-item-selected-bg.png") repeat-x scroll 0 0 #168ad4;
   color: #fff;
   text-shadow: #125A8A 0px 1px 2px;
   font-weight: bold;
}

div#listsTitle, div#tagsTitle {
    position: relative;
    width: 200px;
    margin-bottom: 4px;
}

.listAction, .tagAction {
    width: 18px;
    height: 18px;
    display: none;
    z-index: 5;    
}

.editList, .editTag {
    position: absolute;
    top: 2px;
    right: 0px;    
}

.addBelowList {
    position: absolute;
    top: 2px;
    right: 25px;
}

.hovered {
    background-image: none !important;
    background-color: #feca40 !important;
}

.dropped {
    /* background-color: green; */
}

.ui-state-highlight { 
    height: 1.5em; 
    line-height: 1.2em;
    background-color: yellow;
}


ul#lists .header {
    color: #ff9922;
    font-weight: bold;
}

.collapseListsBtn .ui-button {
    padding: 0px 5px;
}

#listsActions, #tagsActions {
    position: absolute;
    top: -3px;
    right: 0px;
    margin: 0px;
}

#listsActions a, #tagsActions a {
    float: right;
    margin-left: 7px;
    font-size: 80%;
}

.tagLinkInList {
    background: url(/app/desktop/img/tag-bg.png) no-repeat top left;
    padding-right: 5px;
    padding-left: 12px;
    padding-bottom: 5px;
    height: 14px;
}