Options +FollowSymLinks +ExecCGI

<IfModule mod_headers.c>
  <FilesMatch "plancake.zip">
    Header set Cache-Control "no-cache, no-store, max-age=1, must-revalidate"
  </FilesMatch>
</IfModule>



<IfModule mod_rewrite.c>
  RewriteEngine On

  # uncomment the following line, if you are having trouble
  # getting no_script_name to work
  RewriteBase /

  # we skip all files with .something
  #RewriteCond %{REQUEST_URI} \..+$
  #RewriteCond %{REQUEST_URI} !\.html$
  #RewriteRule .* - [L]

  # Redirect different plancake domains to www.plancake.com
  # Good for Google as it prevents duplicated contents
  #RewriteCond %{HTTP_HOST} .
  RewriteCond %{HTTP_HOST} ^plancake.com$ [NC]
  RewriteRule (.*) http://www.plancake.com/$1 [R=301,L]

  # we check if the .html version is here (caching)
  RewriteRule ^$ index.html [QSA]
  RewriteRule ^([^.]+)$ $1.html [QSA]
  RewriteCond %{REQUEST_FILENAME} !-f

  # no, so we redirect to our front web controller
  RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>
